.stream {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
}

.stream-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.select-server{
  display: flex;
  background-color: red;
  margin-left: 100px;
  height: 200px;
  max-width: 50%;
  margin-top: 140px;
  border-radius: 14px;
}
.video-title {
  padding: 10px 10px;
  max-width: 70%;
}

.video-title>p {
  color: rgb(129, 174, 220);
  margin-bottom: 15px;
  width: 78%;
}

.video-title>span {
  font-size: 30px;
  font-weight: 600;
}

.video-player-list {
  display: flex;
  justify-content: space-between;
}

.video-player {
  max-height: 400px;
  max-width: 800px;
}

.video-player iframe {
  height: 550px;
  width: 800px;
  border-radius: 10px;
}

.list-box {
  width: 50%;
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-width: 800px;
  max-height: 450px;
  background-color: rgb(18, 26, 40);
  padding: 10px 10px 10px;
  border-radius: 14px;
  margin-left: 50px;
}

.episode-list>a>button {
  width: 50px;
  padding: 10px;
  margin: 10px 8px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(51, 51, 154);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.episode-list>a>button.active {
  background: transparent;
  outline: 3px solid rgb(51, 51, 154);
  color: rgb(51, 51, 154);
}

@media(max-width:1196px) {
  .stream {
    padding: 20px 0px;
  }

  .list-box {
    padding-right: 40px;
  }
}

@media (max-width:1400px) {
  .stream {
    padding: 20px 0;
    padding-bottom: 300px;
  }

  .stream-container {
    width: 95%;
  }

  .video-player iframe {
    width: 750px;
  }

  .list-box {
    margin-right: 3%;
  }

  .episode-list {
    max-width: 600px;
    max-height: 400px;
    padding-bottom: 20px;
  }

  .episode-list>a>button {
    min-width: 50px;
    max-width: 70px;
    padding: 10px;
    margin: 8px 5px;
  }
}

@media(max-width: 1200px) {
  .stream {
    padding: 25px 0;
  }

  .stream-container {
    width: 95%;
  }

  .video-player iframe {
    width: 650px;
  }

  .episode-list {
    width: 103%;
    max-height: 350px;
  }

  .episode-list>a>button {
    min-width: 50px;
    max-width: 70px;
    padding: 10px;
    margin: 8px 5px;
  }
}

@media only screen and (max-width: 1150px) {
  .stream {
    padding: 20px 0;
  }

  .stream-container {
    width: 95%;
  }

  .video-player iframe {
    width: 600px;
  }

  .episode-list {
    max-width: 500px;
    max-height: 350px;
    margin-left: 20px;
  }

  .episode-list>a>button {
    min-width: 50px;
    max-width: 70px;
    padding: 10px;
    margin: 8px 5px;
  }
}

@media only screen and (max-width: 980px) {
  .video-title {
    padding-left: 40px;
  }

  .video-title>span {
    padding-left: 20px;
  }

  .video-title>p {
    padding-left: 10px;
    width: 660px;
  }

  .video-player-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }

  .video-player {
    width: 100%;
    padding-bottom: 50%;
    display: flex;
    justify-content: center;
  }

  .video-player iframe {
    width: 700px;
  }

  .list-box {
    width: 100%;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }

  .episode-list {
    max-width: 800px;
    width: 700px;
    max-height: 400px;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .episode-list>a>button {
    width: 45px;
    padding: 8px;
    margin: 8px 5px;
  }
}

@media only screen and (max-width: 500px) {
  .video-player iframe {
    height: 280px;
  }
}

@media(max-width:700px) {
  .list-box {
    margin-top: 35%;
  }

  .video-title {
    padding: 10px 0;
    border-radius: 0 0 12px 12px;
    max-width: 70%;
  }

  .video-title>p {
    color: rgb(129, 174, 220);
    margin-bottom: 15px;
    width: 600px;
  }

  .video-title>span {
    font-size: 30px;
    font-weight: 600;
  }

}

@media(max-width:510px) {
  .list-box {
    margin-top: 45%;
  }

  .video-title {
    padding: 10px 0;
    border-radius: 0 0 12px 12px;
    max-width: 100%;
  }

  .video-title>p {
    color: rgb(129, 174, 220);
    margin-bottom: 15px;
    width: 350px;
    font-size: 12px;
  }

  .video-title>span {
    font-size: 30px;
    font-weight: 600;
  }

}

@media(max-width:575px) {
  .stream {
    margin-top: 20px;
    display: flex;
    margin: auto;
    transition: .5s ease-in-out;
  }
  .list-box {
    margin-top: 0%;
  }

  .video-title {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 0 0 12px 12px;
    max-width: 95%;
  }

  .video-title>p {
    color: rgb(129, 174, 220);
    margin-bottom: 15px;
    width: 350px;
    font-size: 12px;
  }

  .video-title>span {
    font-size: 25px;
    font-weight: 600;
  }

}
@media(max-width:410px){
  .video-title p{
    width: 320px;
  }
}
@media(max-width:360px){
  .video-title p{
    width: 290px;
  }
}