.video-art {
	width: 100vw;
	max-width: 100%;
	height: 100%;
	border-radius: 14px;
	max-height: 100vh;
	margin: auto;
}

.art-video-player {
	height: 400px !important;
	width: 800px !important;
	border-radius: 14px;
}


@media(max-width:600px){
	.art-video-player {
		height: 300px !important;
		width: 700px !important;
		border-radius: 14px;
	}	
	
}

@media(max-width:400px){
	.art-video-player {
		height: 250px !important;
		border-radius: 14px;
	}	
	
}