.video-art {
	max-width: 100%;
	height: 100%;
	border-radius: 14px;
	max-height: 100vh;
	margin: auto;
}

.art-video-player {
	height: 400px !important;
	width: 800px !important;
	border-radius: 14px;
}

@media(max-width:980px){
	.video-art {
		width: 100vw;
	}

	.art-video-player {
		height: 400px !important;
	}
}


@media(max-width:700px) {
	.video-art {
		width: 600px;
	}

	.art-video-player {
		width: 600px !important;

	}
}

@media(max-width:650px) {

	.art-video-player {
		width: 550px !important;
		height: 300px !important;

	}
}


@media(max-width:550px) {
	.art-video-player {
		width: 500px !important;
		height: 300px !important;

	}
}
@media(max-width:480px) {
	.art-video-player {
		width: 400px !important;
		height: 250px !important;

	}
}
@media(max-width:400px) {
	.art-video-player {
		width: 350px !important;
		height: 250px !important;

	}
}
