.card-head{
  background: #162032;
  width: 100%;
  height: 470px;
  display: grid;
  border-radius: 8px;
}
.card-img {
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movies-grid {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 10fr));
  margin-top: 40px;
  gap: 30px;
  z-index: 9999;
}

.card-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-right: 4px;
  text-align: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}
.episode-total{
  border-radius: 3px;
  justify-content: right;
  display: flex;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 13px;
}
.episode-total span{
  background-color:rgb(33,150,243);
  padding: 0px 7px;
  position: relative;
  border-radius: 3px;
}
.loadmore-recent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.loadmore-recent .loadmore {
  padding: 10px 20px;
  background-color: rgb(33, 150, 243);
  color: #ffff;
  font-size: 18px;
  border-radius: 9px;
  font-weight: 500;
  transition: .3s all ease-in-out;
}

.loadmore-recent .loadmore:hover {
  background: transparent;
  border: 2px solid rgb(33, 150, 243);
  box-shadow: 2px 10px 90px rgb(33, 150, 243);
}

@media(max-width:960px){
  .movies-grid{
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  }
}
@media(max-width:870px){
  .movies-grid{
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
}
@media(max-width:770px){
  .card-img{
    object-fit: cover
  }
  .movies-grid{
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  }
}
@media(max-width:600px){
  .card-head{
    height: 400px;
  }
  .card-img{
    height: 300px;
    width: 100%;
  }
  .movies-grid{
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0px 40px;
  }
}

@media(max-width:500px){
  .card-head{
    height: 380px;
  }
  .movies-grid{
    padding: 0px 20px;
    height: auto;
  }
}
@media(max-width:450px){
  .card-head h5{
    font-size: 14px;
    font-weight: 500;
  }
  .card-img{
    height: 270px;
  }
  .movies-grid{
    grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
  }
}

@media(max-width:408px){
  .card-head{
    height: 350px;
  }
  .card-head h5{
    font-size: 12px;
  }
  .movies-grid{
    grid-template-columns:repeat(auto-fill,minmax(140px,1fr)) ;
  }
  .loadmore-recent .loadmore {
    font-size: 12px;
  }
}
@media(max-width:355px){
  .movies-grid{
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  }
}
