.card-head{
    background: #162032;
    width: 100%;
    min-height: 480px;
    max-height: 550px;
    border-radius: 20px;
    display: grid;
  }
  .card-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  
  .movies-grid {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 10fr));
    margin-top: 40px;
    gap: 30px;
    z-index: 9999;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: 590;
    margin-top: 10px;
    text-transform: capitalize;
    padding: 5px 10px 20px;
    text-align: center;
  }
  @media(max-width:850px){
    .card-img{
      object-fit: cover;
    }
    .movies-grid{
      grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    }
  }
  @media(max-width:600px){
    .card-head{
      min-height: 400px;
      max-height: 200px;
    }
    .card-img{
      height: 300px;
      width: 100%;
    }
    .movies-grid{
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      padding: 0px 40px;
    }
  }

  @media(max-width:508px){
    .movies-grid{
      padding: 0px 20px;
    }
  }
  @media(max-width:468px){
    .movies-grid{
      grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
    }
  }

  @media(max-width:408px){
    .movies-grid{
      grid-template-columns:repeat(auto-fill,minmax(150px,1fr)) ;
    }
  }
  @media(max-width:355px){
    .movies-grid{
      grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
    }
  }
