.chat-container {
    height: 80vh;
    width: 100%;
    position: relative;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat-container-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.chat-body {
    height: 90%;
    overflow: auto;
    width: 100%;
    max-width: 56rem;
    min-width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.chat-input {
    width: 60%;
    min-width: 20rem;
    align-items: center;
}
.chat-main-details{
    display: flex;
    flex-direction: column;
    gap: 4;
}

.ai-style {
    margin-right: auto;
}

.chat-aiandhuman {
    background: rgb(33,150,243, 70%);
    border-radius: 8px;
    max-width: 80%;
    place-self: end;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.chat-message {
    white-space: pre-wrap;
    font-size: 20px;
    font-weight: 500;

    /* whitespace-pre-wrap text-xl font-medium */
}

.height {
    height: 20px;
}

.input-main {
    width: 100%;
    background:  rgb(33,150,243, 70%);
    max-height: 10rem;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    position: relative;
}
.input-main textarea{
    resize: none;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.loader-input{
    margin: auto;
    width: 2rem;
}
.input-submit{
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    cursor: pointer;
    transition: .2s ease-in;
    font-size: 30px;
    font-weight: 300;
}
.input-submit:hover{
    transform: scale(1.3);
}
/* absolute top-4
right-3 hover:cursor-pointer ease-in duration-100 hover:scale-125 hover:text-purple-500 text-3xl font-bold */
/* break-words bg-[#2196F3] bg-opacity-75 rounded-xl self-end px-3 py-3 max-w-[80%] */