.details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  padding-bottom: 100px;
}

.anime-details {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.anime-img>img {
  width: 310px;
  height: 420px;
  margin: auto;
  border-radius: 14px;
}

.anime-info {
  height: 100%;
  width: 100%;
  padding: 0 30px;
}

.anime-title,
.watch-anime,
.anime-storyline {
  margin-left: 30px;
}

.anime-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: .1px;
}

.watch-anime-btn {
  background-color: rgb(33,150,243);
  border: none;
  padding: 19px 50px 19px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 14px;
  margin-bottom: 40px;
}

.anime-storyline {
  background-color: #162032;
  padding: 15px;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: scroll;
  padding-bottom: 40px;
  margin-left: 30px;
}

.anime-storyline>.summary {
  font-size: 25px;
  margin: 15px 0;
  word-spacing: 5px;
  font-weight: 600;

}

.anime-storyline>p {
  font-size: 18px;
  font-weight: 500;
  max-width: 900px;
}

@media only screen and (max-width: 1500px) {
  .anime-details {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .watch-anime{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime-details {
    width: 100%;
    flex-direction: column;
  }

  .anime-img>img {
    width: 300px;
  }

  .anime-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .anime-title,
  .watch-anime,
  .anime-storyline {
    margin: 15px 0;
  }

  .anime-title {
    font-size: 25px;
    text-align: center;
    /* background-color: red; */
    max-width: 600px;
  }
}

@media only screen and (max-width: 520px) {
  .anime-img>img {
    width: 50%;
    height: 50%;
  }

  .anime-title {
    font-size: 20px;
  }

  .watch-anime-btn{
    padding: 15px 20px;
  }
}