.footer {
  /* border: 2px solid red; */
  background-color: #000;
  ;
  padding: 20px 98px;
}

.footer-content {
  /* border: 2px solid green; */
  display: flex;
}

.footer-about {
  /* border: 2px solid yellow; */
  width: 50%;
  padding: 20px;
}

.footer-about>h3,
p {
  margin: 10px 0;
}

.footer-about>p {
  word-spacing: 2px;
  text-align: justify;
  font-size: 12px;
  opacity: .7;
}

.footer-about>h3 {
  font-size: 20px;
  border-bottom: 4px solid #0000FF;
  width: 95px;
}

.about-blue {
  color: #0000FF;
}

.footer-about>h3>span {
  margin: 0 10px 0 0;
}

.join-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid blue; */
  margin: 18px 0;
  width: 50%;
}

.footer-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-social {
  font-size: 28px;
  font-weight: 500;
}

.footer-social {
  background-color: #162032;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  line-height: 60px;
  margin: 10px;
  font-size: 35px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-out;
}

.footer-social>span {
  font-size: 25px;
}

.footer-social:hover {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1500px) {
  .footer {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-about>h3 {
    width: 70px;
  }
  .footer-icon {
    flex-direction: column;
  }

  .footer-social{
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .footer-social>i {
    margin-right: 10px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 520px) {
  .footer {
    padding: 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-about>h3 {
    width: 65px;
  }

  .footer-about {
    width: 100%;
    padding: 0 20px;
  }

  .join-social {
    width: 100%;
  }

  .connect-social {
    display: none;
  }

  .footer-social {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .footer-social>span {
    font-size: 14px;
  }

  .join-social {
    margin: 0;
  }

  .footer-icon {
    flex-direction: row;
  }

  .footer-social>i {
    margin-right: 5px;
    font-size: 14px;
  }
}