.footer {
  margin-top: 200px;
  padding: 0px 100px;
  background-color: #000;
}

.footer-content {
  display: flex;
}

.footer-about {
  width: 100%;
  padding: 20px;
}

.footer-about>h3,
p {
  margin: 10px;
}

.footer-about>p {
  text-align: justify;
  font-size: 12px;
  opacity: .7;
}

.footer-about>h3 {
  font-size: 40px;
  border-bottom: 4px solid rgb(33, 150, 243);
  width: 70px;
}

.about-blue {
  color: rgb(33, 150, 243);
}

.footer-about>h3>span {
  margin: 0 10px 0 0;
}

.join-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
  width: 50%;
}

.footer-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-social {
  font-size: 20px;
  font-weight: 500;
}

.footer-social {
  margin: 10px 20px;
  font-size: 49px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-out;
  margin-top: 20px;
}


.footer-social:hover {
  transform: translateY(-20px);
  color: rgb(33, 150, 243);
}

@media only screen and (max-width: 1500px) {
  .footer {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-about>h3 {
    width: 70px;
  }

  .footer-icon {
    flex-direction: column;
  }

  .footer-social {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-social>i {
    margin-right: 10px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 520px) {
  .footer {
    padding: 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-about>h3 {
    width: 65px;
  }

  .footer-about {
    width: 100%;
    padding: 0 20px;
  }

  .join-social {
    width: 100%;
  }

  .connect-social {
    display: none;
  }

  .footer-social {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .footer-social>span {
    font-size: 14px;
  }

  .join-social {
    margin: 0;
  }

  .footer-icon {
    flex-direction: row;
  }

  .footer-social>i {
    margin-right: 5px;
    font-size: 20px;
  }
}