.lastwatch {
    background-color: hsl(218, 39%, 14%);
    width: 100%;
    position: fixed;
    bottom: 0px;
    max-width: 350px;
    border-radius: 14px;
    padding: 0px 20px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    max-height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 999;
    display: none;
  }
  
  .play {
    font-size: 40px;
    max-width: 90px;
    float: right;
    color: #fff;
    position: relative;
    bottom: 20px;
    transition: .5s ease-in-out;
  }
  
  .play:hover {
    color: #0000FF;
  }