.lastwatch {
  padding: 20px 0px;
  display: none;
  padding-bottom: 30px;
}

.lastwatch.active {
  display: block;
}
.lastwatch-heading{
  font-size: 30px;
  padding: 30px 40px;
}
.lastwatch-close {
  position: absolute;
  left: 20;
  background: hsl(225, 25%, 7%);
  padding: 10px 20px;
  -webkit-clip-path: circle(34.7% at 50% 50%);
  clip-path: circle(34.7% at 50% 50%);
  cursor: pointer;
}

.lastwatch-close i {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.lastwatch-head{
  background: #162032;
  width: 180px;
  max-height: auto;
  height: 370px;
  display: grid;
  border-radius: 4px;
}
.lastwatch-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lastwatch-grid {
  padding: 0px 20px;
  display: grid;
  grid-column-gap: 40px;
  grid-auto-flow: column;
  overflow-x: scroll;
}
.lastwatch-grid::-webkit-scrollbar-thumb{
  background: transparent;

}

.lastwatch-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 5px 10px 20px;
  text-align: center;
}
.last-ep{
  color:  rgb(33,150,243);
}

@media(max-width:600px){
  .lastwatch-heading{
    font-size: 25px;
  }
}

@media(max-width:420px){
  .lastwatch-head{
    background: #162032;
    width: 140px;
    height: 350px;
    display: grid;
    border-radius: 4px;
  }
  .lastwatch-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .lastwatch-heading{
    padding: 20px 30px;
  }
  .lastwatch-heading h1{
    font-size: 26px;
    padding-bottom: 20px;
  }
}