
.login{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
    overflow-x: hidden;
    margin: auto;
}
.login-container {
    position: relative;
    padding:30px;
    background-color:hsl(220, 47%, 20%);;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 14px;
}
.form-group{
  position: relative;
}
.login-container .login-group-input{
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background:transparent;
  border: 2px solid  rgb(33,150,243);
  color: #ffff;
  border-radius: 8px;
}
.login-container .login-group-input::placeholder{
  color: #fff;
}
.login-container h1{
  text-align: center;
  font-size: 30px;
}
.login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.login-sign-in{
  padding: 10px 20px;
  background-color:  rgb(33,150,243);
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 4px;
}
.remember-me-forget-pass{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.register{
  font-size: 20px;
  color: rgb(33,150,243) ;
}
.forgot{padding-bottom: 40px;}