.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

.login-tab ion-icon{
  font-size: 40px;
  color:  rgb(33, 150, 243);
  position: relative;
  right: 40px;
}
.mobile-search{
  display: none;
}
.logo > a {
  font-size: 40px;
  font-weight: 600;
}

.logo .white {
  color: #fff !important;
}

.logo .blue {
  color: rgb(33, 150, 243);
}

.toggle {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links > li {
  list-style: none;
}

.nav-links > li > a {
  text-decoration: none;
  margin: 0 20px;
  word-spacing: 3px;
  font-size: 17px;
  font-weight: 500;
}

.active {
  color: rgb(33, 150, 243);
}

.login-btn{
  font-size: 40px;
  padding: 0px;
  color: rgb(33, 150, 243);
  cursor: pointer;
}
.search > input {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #162032;
  color: #fff;
  width: 300px;
}

.search-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  right: 35px;
}

.toggle-search {
  display: none;
}

.account-login{
  cursor: pointer;
}
.account-login img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 9999;
}
.account-login .extra-options{
  display: inline;
  position: absolute;
  background: #162032;
  padding: 30px;
  border-radius: 18px;
  right: 5%;
  margin-top: 10px;
  display: none;
  z-index: 99999;
}
.account-login .extra-options li{
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.account-login .active{
  display: block;
}
@media only screen and (max-width: 1500px) {
  .header {
    padding: 25px 35px;
  }
}

@media only screen and (max-width: 1360px) {
  .search {
    position: relative;
    left: 25%;
  }
  .navbar-menu-btn {
    background: transparent;
    transition: 0.9s ease-in-out;
    position: relative;
  }

  .navbar-menu-btn span {
    display: block;
    background: rgb(33, 150, 243);
    width: 35px;
    height: 3px;
    margin: 8px;
    transition: 0.5s ease-in-out;
  }

  .navbar-menu-btn .two {
    width: 30px;
  }

  .navbar-menu-btn .three {
    width: 25px;
  }
  .logo > a {
    font-size: 30px;
    padding-left: 10px;
  }

  .search {
    margin-right: 65px;
    z-index: -1;
  }

  .nav-links {
    display: none;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
  }

  .toggle-links {
    position: absolute;
    width: 90%;
    margin-left: 30px;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    /* height: 200px; */
    flex-direction: column;
    padding: 15px;
    z-index: 9999;
    background-color: rgb(18, 26, 40);
    border-radius: 20px;
  }


  .toggle-links > li {
    margin: 15px 19px;
  }
}
@media(max-width:1360px){
  .account-login{
    position: relative;
    right: 5%;
  }
}
@media (max-width:1200px){
  .search {
    position: relative;
    left: 21%;
  }
}
@media (max-width:1000px){
  .search {
    position: relative;
    left: 17%;
  }
}
@media (max-width:900px){
  .search {
    position: relative;
    left: 10%;
  }
}
@media(max-width:850px){
  .account-login{
    position: relative;
    right: 6%;
  }
}
@media only screen and (max-width: 755px) {
  .header {
    padding-bottom: 20px;
  }
  .account-login{
    position: relative;
    left: 24%;
  }
  .login-tab ion-icon{
    font-size: 40px;
    color:  rgb(33, 150, 243);
    position: relative;
  }
  .logo > a {
    font-size: 40px;
    position: relative;
  }
  .search {
    display: none;
  }
  .mobile-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 3px;
    cursor: pointer;
  }
  .mobile-search .field-icon-search{
    width: 50px;
    font-size: 30px;
    color: rgb(33,150,243);
    font-weight: 800;
  }
  .active-search-mobile{
    display: none;
  }
  .active-search-mobile.active{
    position: static;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    border-radius: 14px;
    background-color: #162032;
    color: #fff;
  }

  .mobile-view-search{
    display: none;
  }
  .toggle-search {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    border-radius: 14px;
  }

  .toggle-search > input {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(220, 47%, 20%);
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }

  .toggle-links {
    height: 280px;
  }
}

@media only screen and (max-width: 750px) {
  .login-tab ion-icon{
    font-size: 35px;
    left: 150px;
  }
  .logo > a {
    font-size: 35px;
  }
}
@media only screen and (max-width: 680px) {
  .login-tab ion-icon{
    font-size: 35px;
    left: 130px;
  }
  .account-login{
    position: relative;
    left: 22%;
  }
}
@media only screen and (max-width: 650px) {
  .account-login{
    position: relative;
    left: 20%;
  }
  .login-tab ion-icon{
    font-size: 35px;
    left: 21%;
  }
}
@media only screen and (max-width: 610px) {
  .account-login{
    position: relative;
    left: 18%;
  }
  .login-tab ion-icon{
    font-size: 35px;
    left: 90px;
  }
}
@media only screen and (max-width: 560px) {
  .login-tab ion-icon{
    font-size: 35px;
    left: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .account-login{
    position: relative;
    left: 13%;
  }
  .logo a{
    position: relative;
    right:20px;
  }
  .login-tab ion-icon{
    left: 60px;
  }
}

@media(max-width: 500px){
  .account-login{
    position: relative;
    left: 11%;
  }
  .login-tab ion-icon{
    left: 40px;
  }
  .logo >a{
    font-size: 30px;
  }
}
@media(max-width:450px){
  .account-login{
    position: relative;
    left: 9%;
  }
  .login-tab ion-icon{
    left: 6px;
  }
}
@media(max-width:415px){
  .account-login{
    left: 3%;
  }
}
@media(max-width:385px){
  .account-login{
    left: 9%;
  }
  .logo>a{
    font-size: 20px;
  }
}
@media(max-width:360px){
  .account-login{
    left:4%;
  }
}
@media(max-width:340px){
  .account-login{
    left:2%;
  }
}
@media(max-width:308px){
  .account-login{
    left:-2%;
  }
}