.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}

.logo>a {
  font-size: 40px;
  font-weight: 600;
}

.logo .white {
  color: #fff !important;
}

.logo .blue {
  color: #0000FF;
}

.toggle {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links>li {
  list-style: none;
}

.nav-links>li>a {
  text-decoration: none;
  margin: 0 15px;
  word-spacing: 3px;
  font-size: 17px;
  font-weight: 500;
}

.active {
  color:  #0000FF;
}

.search {
  display: flex;
  width: 332px;
}

.search>input {
  padding: 10px;
  border-radius: 10px;
  background-color: #162032;
  color: #fff;
}

.search-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  right: 35px;
}

@media only screen and (max-width: 1500px) {
  .header {
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .search {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
  }
 
  .nav-links {
    display: none;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  .toggle-links {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    right: 0;
    height: 300px;
    flex-direction: column;
    padding: 15px;
    z-index: 9999;
    background-color: #0F3D3E;
  }

  .toggle-links>li {
    margin: 15px 19px;
  }
}
