.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}
.mobile-search{
  display: none;
}
.logo > a {
  font-size: 40px;
  font-weight: 600;
}

.logo .white {
  color: #fff !important;
}

.logo .blue {
  color: rgb(33, 150, 243);
}

.toggle {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links > li {
  list-style: none;
}

.nav-links > li > a {
  text-decoration: none;
  margin: 0 15px;
  word-spacing: 3px;
  font-size: 17px;
  font-weight: 500;
}

.active {
  color: rgb(33, 150, 243);
}

.search {
  display: flex;
  width: 292px;
}

.search > input {
  padding: 12px 40px;
  border-radius: 10px;
  background-color: #162032;
  color: #fff;
}

.search-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  right: 35px;
}

.toggle-search {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .header {
    padding: 25px 40px;
  }
}

@media only screen and (max-width: 1300px) {
  .navbar-menu-btn {
    background: transparent;
    transition: 0.9s ease-in-out;
    position: relative;
  }

  .navbar-menu-btn span {
    display: block;
    background: rgb(33, 150, 243);
    width: 35px;
    height: 3px;
    margin: 8px;
    transition: 0.5s ease-in-out;
  }

  .navbar-menu-btn .two {
    width: 30px;
  }

  .navbar-menu-btn .three {
    width: 25px;
  }
  .logo > a {
    font-size: 30px;
    padding-left: 10px;
  }

  .search {
    margin-right: 65px;
    z-index: -1;
  }

  .nav-links {
    display: none;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
  }

  .toggle-links {
    position: absolute;
    width: 90%;
    margin-left: 30px;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    /* height: 200px; */
    flex-direction: column;
    padding: 15px;
    z-index: 9999;
    background-color: rgb(18, 26, 40);
    border-radius: 20px;
  }


  .toggle-links > li {
    margin: 15px 19px;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    padding-bottom: 20px;
  }
  .logo > a {
    font-size: 40px;
    position: relative;
  }
  .search {
    display: none;
  }
  .mobile-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 3px;
    cursor: pointer;
  }
  .mobile-search .field-icon-search{
    width: 50px;
    font-size: 30px;
    color: rgb(33,150,243);
    font-weight: 800;
  }
  .active-search-mobile{
    display: none;
  }
  .active-search-mobile.active{
    position: static;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    border-radius: 14px;
    background-color: #162032;
    color: #fff;
  }

  .mobile-view-search{
    display: none;
  }
  .toggle-search {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    border-radius: 14px;
  }

  .toggle-search > input {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(220, 47%, 20%);
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }

  .toggle-links {
    height: 240px;
  }
}

@media only screen and (max-width: 750px) {
  .logo > a {
    font-size: 35px;
  }
}
@media(max-width: 500px){
  .logo >a{
    font-size: 30px;
  }
}

@media(max-width:320px){
  .logo>a{
    font-size: 25px;
  }
}
