.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: hsl(225, 25%, 7%);
}

.logo>a {
  font-size: 40px;
  font-weight: 600;
}

.logo .white {
  color: #fff !important;
}

.logo .blue {
  color: #0000FF;
}

.toggle {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links>li {
  list-style: none;
}

.nav-links>li>a {
  text-decoration: none;
  margin: 0 15px;
  word-spacing: 3px;
  font-size: 17px;
  font-weight: 500;
}

.active {
  color: #0000FF;
}

.search {
  display: flex;
  width: 332px;
}

.search>input {
  padding: 10px;
  border-radius: 10px;
  background-color: #162032;
  color: #fff;
}

.search-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  right: 35px;
}

@media only screen and (max-width: 1500px) {
  .header {
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .search {
    display: none;
  }

  .toggle-search {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    overflow: hidden;
    position: absolute;
    top: 370px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
  }

  .toggle-search>input {
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(225, 25%, 7%);
    color: #fff;
    width: 265px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .search-btn {
    right: -116px;
  }

  .nav-links {
    display: none;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  .toggle-links {
    position: absolute;
    width: auto;
    margin-left: 30px;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    height: 350px;
    flex-direction: column;
    padding: 15px;
    z-index: 9999;
    background-color: rgb(18, 26, 40);
    border-radius: 20px;
  }

  .toggle-links>li {
    margin: 15px 19px;
  }
}