.season-head{
  background: #162032;
  width: 100%;
  height: 470px;
  display: grid;
  border-radius: 4px;
}
.season-img {
  height: 380px;
  object-fit: cover;
}

.seasons-grid {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 10fr));
  margin-top: 40px;
  gap: 30px;
  z-index: 9999;
}

.season-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 5px 10px 20px;
  text-align: center;
}

@media(max-width:960px){
  .seasons-grid{
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  }
}
@media(max-width:850px){
  .seasons-grid{
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
}
@media(max-width:750px){
  .season-img{
    object-fit: cover
  }
  .seasons-grid{
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  }
}
@media(max-width:600px){
  .season-head{
    height: 400px;
  }
  .season-img{
    height: 300px;
    width: 100%;
  }
  .seasons-grid{
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0px 40px;
  }
}

@media(max-width:510px){
  .season-head{
    height: 390px;
  }
  .seasons-grid{
    padding: 0px 20px;
    height: auto;
  }
}
@media(max-width:468px){
  .season-head h5{
    font-size: 14px;
    font-weight: 500;
  }
  .season-img{
    height: 270px;
  }
  .seasons-grid{
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  }
}

@media(max-width:408px){
  .season-head{
    height: 350px;
  }
  .season-head h5{
    font-size: 12px;
  }
  .seasons-grid{
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr)) ;
  }
}
@media(max-width:355px){
  .seasons-grid{
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  }
}
