
.register{
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    transform: translateY(20%);
}
.register-container {
    border: 2px solid rgb(33, 150, 243);
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    width: 70%;
}
.register-container form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group input{
    padding: 14px;
    color: white;
    background-color: rgb(22, 32, 50);
    border-radius: 4px;
}
.form-group input:focus{
    outline: 1px solid rgb(33, 150, 243);
}
.form-group button{
    padding: 12px;
    border-radius: 4px;
    color: white;
    background-color: rgb(33, 150, 243);
    transition: .4s ease-in-out;
}
.form-group button:hover{
    background-color: rgb(22, 32, 50);
    outline: 1px solid rgb(33, 150, 243);
}

.login-here{
    display: flex;
    align-items: center;
}
.login-here .font{
    font-size: 12px;
}
.login-here a{
    text-decoration: underline;
    margin: 0 0 0 10px;
}
.login-here a:hover{
    color: rgb(33, 150, 243);
}
@media screen and (max-width: 1500px){
    .register{
      transform: translateY(40%);
    }
  }
  @media screen and (max-width: 1500px){
    .register{
      transform: translateY(40%);
    }
  }
  @media screen and (max-width: 1200px){
    .register{
      transform: translateY(40%);
    }
  }
  @media screen and (max-width: 800px){
    .register{
      transform: translateY(40%);
    }
  }
@media screen and (max-width: 540px){
    .register{
        transform: translateY(10%);
    }
    .register-container{
        width: 95%;
        margin: 50px 0 0 0;
    }
    
}
