  .stream {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stream-container {
    display: flex;
    flex-direction: column;
    width: 82%;
  }

  .video-title {
    padding: 15px 0;
    width: 50%;
    border-radius: 0 0 12px 12px;
  }

  .video-title>p {
    color: red;
    margin-bottom: 15px;
    word-spacing: 3px;

  }

  .video-title>span {
    font-size: 25px;
    font-weight: 600;
    word-spacing: 4px;
  }

  .video-player-list {
    display: flex;
    justify-content: space-between;
  }

  .video-player {
    width: 50%;
    border-radius: 14px;
  }

  .video-player iframe {
    width: 100%;
    height: 450px;
  }

  .list-box {
    width: 50%;
    padding: 0 20px;
  }

  .episode-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 710px;
    max-height: 450px;
    background-color: rgb(18, 26, 40);
    padding: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
  }

  .episode-list>a>button {
    width: 50px;
    padding: 10px;
    margin: 10px 8px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(51, 51, 154);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .episode-list>a>button.active {
    background: transparent;
    outline: 3px solid rgb(51, 51, 154);
    color: rgb(51, 51, 154);
  }

  @media only screen and (max-width: 1200px) {
    .stream {
      padding: 25px 0;
    }

    .stream-container {
      width: 95%;
    }
  }

  @media only screen and (max-width: 900px) {
    .video-title {
      width: 100%;
    }

    .video-title>span {
      font-size: 22px;
    }

    .video-player-list {
      flex-direction: column;
    }

    .video-player {
      width: 100%;
    }

    .list-box {
      width: 100%;
      padding: 10px 0;
    }

    .episode-list {
      max-width: 100%;
      max-height: 200px;
      padding: 0 4.5px;
      border-radius: 8px;
    }

    .episode-list>a>button {
      width: 39px;
      padding: 8px;
      margin: 8px 5px;
    }
  }

  @media only screen and (max-width: 500px) {
    .video-player iframe {
      height: 280px;
    }
  }