.top-scroll{
    background: hsl(219, 38%, 15%);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 60px;
    right: 40px;
    z-index: 100;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s all ease-in-out;
  }
  .top-scroll:hover{
    background: transparent;
    border: 2px solid hsl(219, 38%, 15%);
    color: rgb(33,150,243);
  }
  .top-scroll-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  .top-scroll-icon ion-icon{
    font-size: 30px;
  }