* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: poppins;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* scroll bar */
html {
  scroll-behavior: smooth;
  font-family: poppins;
  scrollbar-color: rgb(41, 109, 234);
  scrollbar-width: 0.5rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

body {
  background: hsl(225, 25%, 7%);
  max-height: 100%;
  min-height: 100vh;
  width: 100%;
  color: hsl(0, 0%, 80%);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

input,
button,
select {
  font: inherit;
  background-color: none;
  border: none;
  outline: none;
}

button {
  color: hsl(0, 0%, 80%);
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(33,150,243);
  border-radius: 14px;
}




.search-grid{
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 10fr));
  margin-top: 40px;
  gap: 30px;
  z-index: 9999;
}

@media(max-width:750px){
  .search-grid{
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    margin-top: 140px;
  }
  .no-results{
    margin-top: 140px;
  }
}
@media(max-width:600px){

  .search-grid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0px 40px;
  }
}

@media(max-width:510px){
  .search-grid{
    padding: 0px 20px;
    height: auto;
  }
}
@media(max-width:468px){
  .search-grid{
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  }
}

@media(max-width:408px){
  .search-grid{
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr)) ;
  }
}
@media(max-width:360px){
  .search-grid{
    grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
  }
}
